application/WebService/ClientWebservice/src/wsdl/ClientWebService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><definitions targetNamespace="http://hu.neuron" name="ClientWebService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hu.neuron" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://hu.neuron" schemaLocation="ClientWebService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getClientList">
    <part name="parameters" element="tns:getClientList"/>
  </message>
  <message name="getClientListResponse">
    <part name="parameters" element="tns:getClientListResponse"/>
  </message>
  <message name="createClient">
    <part name="parameters" element="tns:createClient"/>
  </message>
  <message name="createClientResponse">
    <part name="parameters" element="tns:createClientResponse"/>
  </message>
  <message name="getClientByUserName">
    <part name="parameters" element="tns:getClientByUserName"/>
  </message>
  <message name="getClientByUserNameResponse">
    <part name="parameters" element="tns:getClientByUserNameResponse"/>
  </message>
  <message name="updateClientByUserName">
    <part name="parameters" element="tns:updateClientByUserName"/>
  </message>
  <message name="updateClientByUserNameResponse">
    <part name="parameters" element="tns:updateClientByUserNameResponse"/>
  </message>
  <portType name="ClientWebService">
    <operation name="getClientList">
      <input wsam:Action="http://hu.neuron/ClientWebService/getClientListRequest" message="tns:getClientList"/>
      <output wsam:Action="http://hu.neuron/ClientWebService/getClientListResponse" message="tns:getClientListResponse"/>
    </operation>
    <operation name="createClient">
      <input wsam:Action="http://hu.neuron/ClientWebService/createClientRequest" message="tns:createClient"/>
      <output wsam:Action="http://hu.neuron/ClientWebService/createClientResponse" message="tns:createClientResponse"/>
    </operation>
    <operation name="getClientByUserName">
      <input wsam:Action="http://hu.neuron/ClientWebService/getClientByUserNameRequest" message="tns:getClientByUserName"/>
      <output wsam:Action="http://hu.neuron/ClientWebService/getClientByUserNameResponse" message="tns:getClientByUserNameResponse"/>
    </operation>
    <operation name="updateClientByUserName">
      <input wsam:Action="http://hu.neuron/ClientWebService/updateClientByUserNameRequest" message="tns:updateClientByUserName"/>
      <output wsam:Action="http://hu.neuron/ClientWebService/updateClientByUserNameResponse" message="tns:updateClientByUserNameResponse"/>
    </operation>
  </portType>
  <binding name="ClientWebServicePortPortBinding" type="tns:ClientWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getClientList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createClient">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getClientByUserName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateClientByUserName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ClientWebService">
    <port name="ClientWebServicePortPort" binding="tns:ClientWebServicePortPortBinding">
      <soap:address location="http://192.168.10.196:7001/ClientWebServiceImpl/ClientWebService"/>
    </port>
  </service>
</definitions>