application/WebService/OrderWebservice/src/wsdl/OrderWebService_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942.--><definitions targetNamespace="http://hu.neuron" name="OrderWebService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hu.neuron" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://hu.neuron" schemaLocation="OrderWebService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getOrderList">
    <part name="parameters" element="tns:getOrderList"/>
  </message>
  <message name="getOrderListResponse">
    <part name="parameters" element="tns:getOrderListResponse"/>
  </message>
  <message name="updateOrderByOrdersId">
    <part name="parameters" element="tns:updateOrderByOrdersId"/>
  </message>
  <message name="updateOrderByOrdersIdResponse">
    <part name="parameters" element="tns:updateOrderByOrdersIdResponse"/>
  </message>
  <message name="getOderByOrderId">
    <part name="parameters" element="tns:getOderByOrderId"/>
  </message>
  <message name="getOderByOrderIdResponse">
    <part name="parameters" element="tns:getOderByOrderIdResponse"/>
  </message>
  <portType name="OrderWebService">
    <operation name="getOrderList">
      <input wsam:Action="http://hu.neuron/OrderWebService/getOrderListRequest" message="tns:getOrderList"/>
      <output wsam:Action="http://hu.neuron/OrderWebService/getOrderListResponse" message="tns:getOrderListResponse"/>
    </operation>
    <operation name="updateOrderByOrdersId">
      <input wsam:Action="http://hu.neuron/OrderWebService/updateOrderByOrdersIdRequest" message="tns:updateOrderByOrdersId"/>
      <output wsam:Action="http://hu.neuron/OrderWebService/updateOrderByOrdersIdResponse" message="tns:updateOrderByOrdersIdResponse"/>
    </operation>
    <operation name="getOderByOrderId">
      <input wsam:Action="http://hu.neuron/OrderWebService/getOderByOrderIdRequest" message="tns:getOderByOrderId"/>
      <output wsam:Action="http://hu.neuron/OrderWebService/getOderByOrderIdResponse" message="tns:getOderByOrderIdResponse"/>
    </operation>
  </portType>
  <binding name="OrderWebServicePortPortBinding" type="tns:OrderWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getOrderList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateOrderByOrdersId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOderByOrderId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OrderWebService">
    <port name="OrderWebServicePortPort" binding="tns:OrderWebServicePortPortBinding">
      <soap:address location="http://192.168.2.130:7001/OrderWebServiceImpl/OrderWebService"/>
    </port>
  </service>
</definitions>